body{
  background:#999494;
}
.app{
  background: #209cee;
  padding: 10px;
  position: relative;
  top: 70px;
  width: 30%;
  height: 50%;
  margin: 0 auto;
  border-radius: 5px;
  overflow:auto;
}
.todo-list{
  background: #999494;
  border-radius: 4px;
  margin:auto;
  max-width: 400px;
  padding: 5px;
  padding-bottom:0;
}

.todo{
  align-items: center;
  background: rgb(52, 196, 206);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.15);
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}


button{
  background: #369add;
  border-radius:7px;
  margin-left:5px
}

button:hover{
  background: #e8e8e850;
}
button.new{
  height: 30px;
}
button.r{
  color:red;
}

input{
  border:solid 1px green;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin:20px;
  /* float:left; */
  margin-left:2px;
}
input,label{
  display: block;
  margin-top: 20px;
}
#editInput{
  margin:0;
}